name: QA Checks

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/fermium'

      - name: Upgrade NPM
        run: npm install -g npm

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install Dependencies
        run: npm ci
        
      - name: Linting
        run: npm run lint
        
      - name: Unit Tests
        run: npm run test

      - name: Integration Tests
        run: npm run test:ci
        
      # Save videos and screenshots as test artifacts (https://github.com/actions/upload-artifact)
      - uses: actions/upload-artifact@v2
        with:
          name: screenshots
          path: cypress/screenshots
          if: failure() # Only upload screenshots if previous step has failed (i.e. if there are test failures)
